apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ mariadb_secret_name | mandatory }}
stringData:
  mariadb-root-password: {{ mariadb_root_password | mandatory }}
  mariadb-password: {{ mariadb_password | mandatory }}
  mariadb-replication-password: {{ mariadb_replication_password | mandatory }}