- name: Setup installation
  hosts: localhost
  tasks:
    - name: Add plex repo
      kubernetes.core.helm_repository:
        name: plex
        repo_url: "https://raw.githubusercontent.com/plexinc/pms-docker/gh-pages"
    - name: Create the namespace
      kubernetes.core.k8s:
        name: "{{ lookup('env', 'NAMESPACE') }}"
        api_version: v1
        kind: Namespace
        state: present

    - name: Create secret to apply credentials
      vars:
          smb_username: "{{ lookup('env', 'SMB_USERNAME') }}"
          smb_password: "{{ lookup('env', 'SMB_PASSWORD') }}"
      kubernetes.core.k8s:
        state: present
        template: 'templates/secret.j2.yaml'
        namespace: "{{ lookup('env', 'NAMESPACE') }}" 

    - name: Install pv
      vars:
        smb_source: "//{{ lookup('env', 'STORAGE_SERVER_IP') }}/{{ lookup('env', 'SMB_PATH_MEDIA') }}"
      kubernetes.core.k8s:
        state: present
        template: 'pv.yaml'
        namespace: "{{ lookup('env', 'NAMESPACE') }}"  

    - name: Install pvc
      kubernetes.core.k8s:
        state: present
        template: 'pvc.yaml'
        namespace: "{{ lookup('env', 'NAMESPACE') }}"  

- name: Install plex
  hosts: localhost
  tasks:
    - name: Apply plex chart
      vars:
        plex_full_hostname: "https://plex.{{ lookup('env', 'DOMAIN_NAME') }}"
        plex_hostname: "plex.{{ lookup('env', 'DOMAIN_NAME') }}"
      kubernetes.core.helm:
        name: "plex"
        chart_ref: plex/plex-media-server
        release_namespace: "{{ lookup('env', 'NAMESPACE') }}"
        state: present
        values: "{{ lookup('template', 'values.yaml') | from_yaml }}"
      tags:
        - install