- name: Uninstall Plex
  hosts: localhost
  tasks:
    - name: Remove plex repo
      kubernetes.core.helm_repository:
        name: bitnami
        repo_url: "https://raw.githubusercontent.com/plexinc/pms-docker/gh-pages"
        state: absent

    - name: Remove plex chart
      kubernetes.core.helm:
        name: "plex"
        release_namespace: "{{ lookup('env', 'NAMESPACE') }}"
        state: absent
        wait: true
      tags:
        - uninstall

    - name: Remove pvc
      kubernetes.core.k8s:
        state: absent
        template: 'pvc.yaml'
        namespace: "{{ lookup('env', 'NAMESPACE') }}"  

    - name: Remove pv
      vars:
        smb_source: "//{{ lookup('env', 'STORAGE_SERVER_IP') }}/{{ lookup('env', 'SMB_PATH_MEDIA') }}"
      kubernetes.core.k8s:
        state: absent
        template: 'pv.yaml'
        namespace: "{{ lookup('env', 'NAMESPACE') }}"  

    - name: Remove namespace
      kubernetes.core.k8s:
        state: absent
        name: "{{ lookup('env', 'NAMESPACE') }}"
        api_version: v1
        kind: Namespace
