- name: Hardening + auto-updates
  hosts: vps,nodes
  become: true

  roles:
    # SSH Hardening
    - devsec.hardening.ssh_hardening
    #OS Hardening playbook
    - devsec.hardening.os_hardening
  vars:
    sysctl_overwrite:
      # Enable IPv4 traffic forwarding. Used for docker/kube
      net.ipv4.ip_forward: 1
      #All under this are unset because of SMB/NFS volumes
      net.ipv4.conf.all.rp_filter: 0
      net.ipv4.conf.default.rp_filter: 0
      net.ipv4.conf.all.accept_redirects: 1
      net.ipv4.conf.default.accept_redirects: 1
      net.ipv4.conf.all.send_redirects: 0
      net.ipv4.conf.default.send_redirects: 0

  tasks:
    - name: Install auto-update
      become: true
      ansible.builtin.apt:
        name: unattended-upgrades
        update_cache: yes
        state: latest
    - name: Configure auto-update
      become: true
      ansible.builtin.copy:
        src: ../resources/20auto-upgrades
        dest: /etc/apt/apt.conf.d/20auto-upgrades
        owner: root
        group: root
        mode: '0644'

- name: Fail2ban
  hosts: vps
  become: true
  tasks:
    - name: Change SSH port
      ansible.builtin.replace:
        path: /etc/ssh/sshd_config
        regexp: 'Port 22'
        replace: "Port {{ lookup('env', 'SSH_PORT') }}"

    - name: Reload service sshd
      ansible.builtin.systemd_service:
        name: sshd.service
        state: reloaded

    - name: Set_fact for ssh port
      set_fact:
        ansible_port: "{{ lookup('env', 'SSH_PORT') }}"

    - name: Install Fail2ban
      ansible.builtin.package:
        name: fail2ban
        state: present

    - name: Get all default config filesc
      find:
        paths: /etc/fail2ban/jail.d/
        patterns: "*.conf"
      register: files_to_delete

    - name: Delete default config files
      ansible.builtin.file:
        path: "{{ item.path }}"
        state: absent
      with_items: "{{ files_to_delete.files }}"

    - name: Copy fail2ban config
      ansible.builtin.copy:
        src: jail-fail2ban.local
        dest: /etc/fail2ban/jail.d/jail-fail2ban.local

    - name: Copy nginx fail2ban filters
      ansible.builtin.copy:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
      loop:
        - src: fail2ban-nginx/nginx-exploit.conf
          dest: /etc/fail2ban/filter.d/nginx-exploit.conf
        - src: fail2ban-nginx/nginx-badbots.conf
          dest: /etc/fail2ban/filter.d/nginx-badbots.conf
        - src: fail2ban-nginx/nginx-botsearch.conf
          dest: /etc/fail2ban/filter.d/nginx-botsearch.conf
        - src: fail2ban-nginx/nginx-limit-req.conf
          dest: /etc/fail2ban/filter.d/nginx-limit-req.conf

    - name: Change IP whitelist
      ansible.builtin.replace:
        path: /etc/fail2ban/jail.d/jail-fail2ban.local
        regexp: '<IP>'
        replace: "{{ lookup('env', 'IP') }}"

    - name: Change ssh port in jail config file
      ansible.builtin.replace:
        path: /etc/fail2ban/jail.d/jail-fail2ban.local
        regexp: '<PORT>'
        replace: "{{ lookup('env', 'SSH_PORT') }}"

    - name: Restart service fail2ban
      ansible.builtin.systemd_service:
        name: fail2ban.service
        state: restarted
