- name: Uninstall jellyfin
  hosts: localhost
  tasks:
    - name: Remove jellyfin repo
      kubernetes.core.helm_repository:
        name: jellyfin
        repo_url: "https://jellyfin.github.io/jellyfin-helm"
        state: absent

    - name: Remove jellyfin chart
      kubernetes.core.helm:
        name: "jellyfin"
        release_namespace: "{{ lookup('env', 'NAMESPACE') }}"
        state: absent
        wait: true
      tags:
        - uninstall

    - name: Remove pvc
      kubernetes.core.k8s:
        state: absent
        template: 'pvc.yaml'
        namespace: "{{ lookup('env', 'NAMESPACE') }}"  

    - name: Remove pv
      vars:
        smb_source: "//{{ lookup('env', 'STORAGE_SERVER_IP') }}/{{ lookup('env', 'SMB_PATH_MEDIA') }}"
      kubernetes.core.k8s:
        state: absent
        template: 'pv.yaml'
        namespace: "{{ lookup('env', 'NAMESPACE') }}"  

    - name: Remove namespace
      kubernetes.core.k8s:
        state: absent
        name: "{{ lookup('env', 'NAMESPACE') }}"
        api_version: v1
        kind: Namespace
