- name: Install deny-http
  ansible.builtin.import_playbook: ../deny-http/install.yaml

- name: Setup installation
  hosts: localhost
  tasks:

  # Need to pull it because of OCI address
  - name: Pull Mealie chart from OCI
    ansible.builtin.shell: "helm pull oci://oci.trueforge.org/truecharts/mealie --untar --untardir /tmp/"

  - name: Create the namespace
    kubernetes.core.k8s:
      name: "{{ lookup('env', 'NAMESPACE') }}"
      api_version: v1
      kind: Namespace
      state: present

  - name: Install Mealie from pulled chart
    vars:
      oidc_url: "https://keycloak.{{ lookup('env', 'DOMAIN_NAME') }}/realms/{{ lookup('env', 'REALM_NAME') }}/.well-known/openid-configuration"
      client_id: "{{ lookup('env', 'MEALIE_CLIENT_ID') }}"
      client_secret: "{{ lookup('env', 'MEALIE_CLIENT_SECRET') }}"
      cnpg_user: "{{ lookup('env', 'MEALIE_CNPG_USER') }}"
      cnpg_database: "{{ lookup('env', 'MEALIE_CNPG_DATABASE') }}"
      mealie_hostname: "mealie.{{ lookup('env', 'DOMAIN_NAME') }}"
      mealie_api_hostname: "mealie-api.{{ lookup('env', 'DOMAIN_NAME') }}"
      mealie_hostname_secret: "{{ lookup('env', 'MEALIE_TLS_SECRET') }}"
      mealie_api_hostname_secret: "{{ lookup('env', 'MEALIE_API_TLS_SECRET') }}"
      mealie_namespace : "{{ lookup('env', 'NAMESPACE') }}"
      user_group : "/{{ lookup('env', 'KEYCLOAK_NOT_HOME_GROUP') }}"
      admin_group : "/{{ lookup('env', 'KEYCLOAK_HOME_GROUP') }}"
    kubernetes.core.helm:
      name: "{{ lookup('env', 'NAMESPACE') }}"
      chart_ref: /tmp/mealie/
      release_namespace: "{{ lookup('env', 'NAMESPACE') }}"
      state: present
      create_namespace: true
      values: "{{ lookup('template', 'values.yaml') | from_yaml }}"
    tags:
      - install

  - name : Install the secret for Mealie offline bring API
    vars:
      bring_username: "{{ lookup('env', 'BRING_USERNAME') }}"
      bring_password: "{{ lookup('env', 'BRING_PASSWORD') }}"
      mealie_namespace : "{{ lookup('env', 'NAMESPACE') }}"
    kubernetes.core.k8s:
      state: present
      definition: "{{ lookup('template', 'bring-api/secret.yaml') | from_yaml }}"
  
  - name : Install the service for Mealie offline bring API
    vars:
      mealie_namespace : "{{ lookup('env', 'NAMESPACE') }}"
    kubernetes.core.k8s:
      state: present
      definition: "{{ lookup('template', 'bring-api/service.yaml') | from_yaml }}"
  
  - name : Install the deployment for Mealie offline bring API
    vars:
      mealie_namespace : "{{ lookup('env', 'NAMESPACE') }}"
      bring_list_name: "{{ lookup('env', 'BRING_LIST_NAME') }}"
    kubernetes.core.k8s:
      state: present
      definition: "{{ lookup('template', 'bring-api/deployment.yaml') | from_yaml }}"

