image:
  repository: ghcr.io/mealie-recipes/mealie
  pullPolicy: IfNotPresent
mealie:
  api:
    general:
      allow_signup: true
      default_group: Home
      base_url: ""
      token_time: 48
    security:
      max_login_attempts: 5
      user_lockout_time: 24
    webworkers:
      workers_per_core: 1
      max_workers: 1
      web_concurrency: 1
    oidc:
      auth_enabled: true
      signup_enabled: true
      configuration_url: "{{ oidc_url | mandatory }}"
      client_id: "{{ client_id | mandatory }}"
      client_secret: "{{ client_secret | mandatory }}"
      user_group: "{{ user_group | mandatory }}"
      admin_group: "{{ admin_group | mandatory }}"
      auto_redirect: true
      provider_name: "SSO"
      remember_me: true
workload:
  main:
    podSpec:
      containers:
        main:
          envFrom:
            - secretRef:
                name: frontend
            - secretRef:
                name: api
          env: 
            ALLOW_PASSWORD_LOGIN: false
            
service:
  main:
    ports:
      main:
        port: 10018
        protocol: http

persistence:
  data:
    enabled: true
    type: pvc
    accessModes: ReadWriteMany
    size: 50Gi
    targetSelector:
      main:
        main:
          mountPath: /app/data

  nltk:
    enabled: true
    type: emptyDir
    size: 5Gi
    targetSelector:
      main:
        main:
          mountPath: /nltk_data
cnpg:
  main:
    enabled: false
    user: "{{ cnpg_user | mandatory }}"
    database: "{{ cnpg_database | mandatory }}"

ingress:
  mealie-ingress:
    primary: true
    namespace: "{{ mealie_namespace | mandatory }}"
    enabled: true
    required: true
    ingressClassName: "nginx"
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
    tls:
      - hosts: 
          - "{{ mealie_hostname | mandatory }}"
        secretName: "{{ mealie_hostname_secret | mandatory }}"
    hosts:
      - host: "{{ mealie_hostname | mandatory }}"
        paths:
          - path: /
            pathType: Prefix
            overrideService:
              expandObjectName: false
              name: mealie
              port: 10018
  block-api:
    namespace: "{{ mealie_namespace | mandatory }}"
    enabled: true
    required: true
    ingressClassName: "nginx"
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
    tls:
      - hosts: 
          - "{{ mealie_hostname | mandatory }}"
        secretName: "{{ mealie_hostname_secret | mandatory }}"
    hosts:
      - host: "{{ mealie_hostname | mandatory }}"
        paths:
          - &deny_backend
            path: /api/recipes
            pathType: Prefix
            overrideService:
              expandObjectName: false
              name: deny-http
              port: 80
          - <<: *deny_backend
            path: /api/admin

  api:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
    tls:
      - hosts: 
          - "{{ mealie_api_hostname | mandatory }}"
        secretName: "{{ mealie_api_hostname_secret | mandatory }}"
    hosts:
      - host: "{{ mealie_api_hostname | mandatory }}"
        paths:
          - path: /
            pathType: Prefix
