- name: Uninstall Seafile
  hosts: localhost
  tasks:
    # - name: Remove seafile repo
    #   kubernetes.core.helm_repository:
    #     name: seafile
    #     repo_url: "https://haiwen.github.io/seafile-helm-chart/repo"
    #     state: absent
    - name: Remove seafile chart
      kubernetes.core.helm:
        name: "seafile"
        release_namespace: "{{ lookup('env', 'NAMESPACE') }}"
        state: absent
        wait: true

#Remove mariadb
- name: Uninstall mariadb
  ansible.builtin.import_playbook: ../mariadb/uninstall.yaml

#Remove redis
- name: Uninstall redis
  ansible.builtin.import_playbook: ../redis/uninstall.yaml
   