seafile:
  initMode: true

  # The following are the configurations of seafile container
  configs:
    seafileDataVolume:
      storageClassName: "manual"
      hostPath: /opt/seafile-data
      storage: 3.5Ti
      nfs:
        enabled: true
        serverIP: "{{ nfs_server_ip | mandatory }}"
        serverPath: "{{ nfs_server_path_seafile | mandatory }}"


  secret:
    seafileAdminPassword: "{{ seafile_admin_password | mandatory }}"
    mysqlRootPassword: "{{ mysql_root_password | mandatory }}"
    jwtPrivateKey: "{{ jwt_private_key | mandatory }}"
    mysqlDbPassword: "{{ mysql_database_password | mandatory }}"
    redisPassword: "{{ redis_password | mandatory }}"

  ingress:
    # -- Specify if an ingress resource for the pms server should be created or not
    enabled: true

    # -- The ingress class that should be used
    ingressClassName: "nginx"

    # -- The url to use for the ingress reverse proxy to point at this pms instance
    url: "{{ ingress_url | mandatory }}"

    # -- Custom annotations to put on the ingress resource
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"

  service:
    type: ClusterIP
  env:
    SEAFILE_MYSQL_DB_HOST: mariadb-seafile
    DB_HOST: mariadb-seafile
    SEAFILE_MYSQL_DB_PORT: "3306"
    SEAFILE_MYSQL_DB_USER: "{{ database_user | mandatory }}"
    REDIS_HOST: "redis-seafile-master"
    ENABLE_SEADOC: "false"
    INIT_SEAFILE_ADMIN_EMAIL: "{{ seafile_admin_mail | mandatory }}"
    SEADOC_SERVER_URL: ""
    SEAFILE_LOG_TO_STDOUT: "true"
    SEAFILE_MYSQL_DB_CCNET_DB_NAME: ccnet_db
    SEAFILE_MYSQL_DB_SEAFILE_DB_NAME: seafile_db
    SEAFILE_MYSQL_DB_SEAHUB_DB_NAME: seahub_db
    SEAFILE_SERVER_HOSTNAME: "{{ ingress_url | mandatory }}"
    SEAFILE_SERVER_PROTOCOL: https
    SITE_ROOT: /
    TIME_ZONE: UTC
    NON_ROOT: true
